*{
    margin: 0px;
    padding: 0px;
    /* background-color: #779191; */
}
table{
    margin: 100px auto;
    padding: 65px 65px;
    background-color: #061c30;
    cursor: pointer;
    
}
input[type="button"]{
    margin: 10px 15px;
    background-color: #b7b794;
    padding: 10px 17px;
    cursor: pointer;
    border-radius: 50%;
}
input[type="text"]{
    margin: 4px 31px;
    padding: 16px 12px;
    background-color: #b7b794;
    cursor: pointer;
}
.heading{
    margin: 0px 635px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 42px;
    background-position: center;
    letter-spacing: 14px;
}